<!doctype html>
<html lang="en">
{% extends "process/process_index.html" %}
{% load static %}

{% block content %}
  <head>
  	<title>Table 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'admin/view_domain/css/style.css' %}">

	</head>
	<body>
	<script>
{% for msg in messages %}

	 alert('{{ msg }}');
{% endfor %}

</script>
	<section class="ftco-section">
		<div class="container"  style="margin-left:00px; margin-top:-90px;">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
<!--					<h2 class="heading-section">Table #03</h2>-->
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center mb-4" STYLE="COLOR:BLACK;">DOMAIN REQUEST</h4>
					<div class="table-wrap">
						<table class="table" >
					    <thead class="thead-primary" style="background-color:black;">
					      <tr>
					        <th>NAME</th>
					        <th>GENDER</th>
					        <th>EMAIL</th>
					        <th>ADDRESS</th>
					        <th>ENQUIRY</th>
					        <th>ANALYSE</th>
					      </tr>
					    </thead>
					    <tbody>
						{% for data in datas %}
					      <tr>
<!--					        <th scope="row" class="scope" >.com</th>-->
					        <td>{{data.name}}</td>
					        <td>{{data.gender}}</td>
					        <td>{{data.email}}</td>
					        <td>{{data.address}}</td>
							  <td>{{data.enquiry}}</td>

					        <td><a href="/view_domain_user_purpose/" class="btn btn-primary" style="background-color:black;">VIEW DATA </a></td>
					      </tr>
<!--					      <tr>-->
<!--					        <th scope="row" class="scope" >.net</th>-->
<!--					        <td>1 Year</td>-->
<!--					        <td>$75.00</td>-->
<!--					        <td>$5.00</td>-->
<!--					        <td>$5.00</td>-->
<!--					        <td><a href="#" class="btn btn-primary">Sign Up</a></td>-->
<!--					      </tr>-->
<!--					      <tr>-->
<!--					        <th scope="row" class="scope" >.org</th>-->
<!--					        <td>1 Year</td>-->
<!--					        <td>$65.00</td>-->
<!--					        <td>$5.00</td>-->
<!--					        <td>$5.00</td>-->
<!--					        <td><a href="#" class="btn btn-primary">Sign Up</a></td>-->
<!--					      </tr>-->
<!--					      <tr>-->
<!--					        <th scope="row" class="scope" >.biz</th>-->
<!--					        <td>1 Year</td>-->
<!--					        <td>$60.00</td>-->
<!--					        <td>$5.00</td>-->
<!--					        <td>$5.00</td>-->
<!--					        <td><a href="#" class="btn btn-primary">Sign Up</a></td>-->
<!--					      </tr>-->
<!--					      <tr>-->
<!--					        <th scope="row" class="scope" >.info</th>-->
<!--					        <td>1 Year</td>-->
<!--					        <td>$50.00</td>-->
<!--					        <td>$5.00</td>-->
<!--					        <td>$5.00</td>-->
<!--					        <td><a href="#" class="btn btn-primary">Sign Up</a></td>-->
<!--					      </tr>-->
<!--					      <tr>-->
<!--					        <th scope="row" class="scope border-bottom-0">.me</th>-->
<!--					        <td class="border-bottom-0">1 Year</td>-->
<!--					        <td class="border-bottom-0">$45.00</td>-->
<!--					        <td class="border-bottom-0">$5.00</td>-->
<!--					        <td class="border-bottom-0">$5.00</td>-->
<!--					        <td class="border-bottom-0"><a href="#" class="btn btn-primary">Sign Up</a></td>-->
<!--					      </tr>-->
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endfor %}

	<script src="{% static 'admin/view_domain/js/jquery.min.js' %}"></script>
  <script src="{% static 'admin/view_domain/js/popper.js' %}"></script>
  <script src="{% static 'admin/view_domain/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'admin/view_domain/js/main.js' %}"></script>
{% endblock %}
	</body>
</html>

