<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
{% extends "domian/domain_index.html" %}
{% load static %}

{% block content %}
<html>
	<head>	
		<title>glossy-login-form Website Template | Home :: w3layouts</title>
		<link href="{% static 'domain/decrypt_id/css/style.css' %}" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!--webfonts-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text.css'/>
		<!--//webfonts-->
		<script>
			function myFunction()
			{
				alert("welcome");
			}
		</script>
	</head>
	<body>
	<script>
{% for msg in messages %}

	 alert('{{ msg }}');
{% endfor %}

</script>
	<script>
{% for msg in messages %}

	 alert('{{ msg }}');
{% endfor %}

</script>
			<!--start-login-form-->
			<div class="login-form">
					<h1>ID REQUEST</h1>
						<form method="post" action="/domain_request_id_2/">
							{% csrf_token %}
							<span>
								<input name="user_email" type="text" class="user" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" >
							</span>
<!--							<span>-->
<!--					        	<input type="password" class="lock" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" >-->
<!--					        </span>-->
							<div class="submit">
								<input type="submit" onclick="myFunction()" value="FORWARD" / >
							</div>
<!--							<div class="Remember-me">-->
<!--								<span class="col_checkbox">-->
<!--									<input id="10" class="css-checkbox10" type="checkbox">-->
<!--									<a href="#">Remember me</a>-->
<!--								</span>-->
<!--								<span class="forget-pass">-->
<!--									<a href="#">Forgot password?</a>-->
<!--								</span>-->
<!--									<div class="clear"> </div>-->
<!--							</div>-->
<!--							-->
						</form>
						<!---start-copy-right---->
						<div class="copy-right">
<!--							<p>Template by <a href="http://w3layouts.com/">W3layouts</a></p>-->
						</div>
				<!---End-copy-right---->
			</div>
			<!--//End-login-form-->
			{% endblock %}
	</body>
</html>

