<!DOCTYPE html>
{% extends "users/user_index.html" %}
{% block content %}
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Overlay Signup Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /><link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans:400,600'>
  <link rel="stylesheet" href="{% static 'user/domain_user_regiter/style.css' %}">
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script  src="{% static 'user/domain_user_regiter/script.js' %}"></script>
  <script  src="{% static 'user/domain_user_regiter/script.js' %}"></script>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500,700'>
  <link rel="stylesheet" href="{% static 'captcha/style.css' %}">


</head>
<body style="background-image:NONE;">
<script>
{% for msg in messages %}

	 alert('{{ msg }}');
{% endfor %}

</script>
<!-- partial:index.partial.html -->
<main role="main">
  <button class="popup-trigger btn" id="popup-trigger"><span>Signup Now<i class="fa fa-plus-square-o"></i></span></button>
</main>
<div class="overlay" id="overlay">
  <div class="overlay-background" id="overlay-background"></div>
  <div class="overlay-content" id="overlay-content">
    <div class="fa fa-times fa-lg overlay-close" id="overlay-close"></div>
    {% for i in datas %}
    <h1 class="main-heading">{{i.organisation}}</h1>
    {% endfor %}

    <h3 class="blurb"> &mdash;</h3><span class="blurb-tagline">Your data will secured with our help.</span>


    <form class="signup-form" method="post" action="/user_virtual/" novalidate="novalidate">
        {% csrf_token %}
      <label for="signup-name">Enter Name</label>
      <input id="signup-name" type="text" name="name" autocomplete="off"/>
      <label for="signup-name">GENDER</label>
      <input id="signup-name" type="text" name="gender" autocomplete="off"/>
      <label for="signup-email">Enter Address</label>
      <input id="signup-email" type="text" name="address" autocomplete="off"/>
        <label for="signup-email">Email</label>
      <input id="signup-email" type="email" name="email" autocomplete="off"/>
      <label for="signup-pw">Enter enquiry</label>
      <input id="signup-pw" type="text" name="enquiry" autocomplete="off"/>
      <label for="signup-cpw">Enter Password</label>
      <input id="signup-cpw" type="password" name="password" autocomplete="off" >


<div class="captcha" style="height:60px;">
	<div class="spinner">
		<label>
			<input type="checkbox" onclick="$(this).attr('disabled','disabled');">
			<span class="checkmark"><span>&nbsp;</span></span>
		</label>
	</div>
	<div class="text">
		I'm not a robot
	</div>
	<div class="logo">
<!--		<img src="https://forum.nox.tv/core/index.php?media/9-recaptcha-png/"/>-->
<!--		<p>reCAPTCHA</p>-->

	</div>
</div>
      <button class="btn btn-outline submit-btn" style="margin-left:180px;"><span>ENTER</span></button>
    </form>
  </div>
</div>
<!-- partial -->
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script  src="{% static 'domain_user_regiter/script.js' %}"></script>
  <script  src="{% static 'domain_user_regiter/script.js' %}"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script  src="{% static 'captcha/script.js' %}"></script>
{% endblock %}
</body>
</html>
